.text_ {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-size: 10px;
}

#logo {
    width: 131px;
    margin-left: 43px;
}

#bg-bitmax {
    background-color: #2e3f4d;
    color: white
}

a {
    color: white;
}

#dropdown-Email {
    background-color: #2e3f4d;
    color: white;
    border: none;
}

#bgColor {
    background-color: #2e3f4d;
}

#bg_sidebar {
    background-color: #303f45;
    color: white;
}

.sidebarDropdownButton {
    background: transparent;
    border: none;
}

text_footer {
    font-size: 10px;
}

.bg_content {
    background-color: #303f45;
}

.forecolor {
    color: white
}

body {
    overflow-x: hidden;
}

.header {
    overflow: hidden;
}


/* ///Noori CSS///// */

header#bg-bitmax.header_>div {
    text-transform: uppercase;
}

header#bg-bitmax.header_ {
    height: 65px;
}

.header_ .navbar.navbar-expand-lg {
    padding: 10px 0px;
}

.header_ .col-lg-4.col-sm-12 {
    padding: 0px;
}

header#bg-bitmax.header_ li a {
    font-size: 16px;
    padding: 5px 10px;
}


/* header ends here */

div#headingOne {
    display: flex;
    justify-content: center;
}

div#headingOne a {
    font-size: 20px;
}

h5.mb-0 {
    margin-right: 10px;
}

span#settingicon {
    margin-left: 10px;
}

span#settingicon a {
    padding-right: 10px;
}

div#istcardbody_ * {
    font-size: 12px;
}

#istcardbody_ span.badge.badge-success.small {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px auto;
    width: 100%;
}


/* aside ends here */

nav#upperNav_,
nav#LowerNav_ {
    width: -webkit-fill-available;
}

ul.navbar-nav.mr-auto.mt-2.mt-md-0 {
    margin: unset;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-evenly;
}


/* body ends here */


/* footer starts here */

div#bg-bitmax.row.small {
    padding-top: 50px;
    padding-bottom: 50px;
}

div#istportion_>div {
    display: flex;
    justify-content: center;
}

div#istportion_ img {
    margin: 0px;
}

div#istportion_ div {
    margin-top: 10px;
}


/* //noori */